* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #ec715f;
  height: 70px;
  width: auto;
}

.nav-items {
  width: 1024px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
}

.nav-items > :first-child {
  margin-right: auto;
}

.nav-logo {
  height: 70px;
}

.nav-item {
  margin-left: 30px;
  margin-right: 30px;
  line-height: 70px;
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
  text-align: right;
}

#main {
  background-image: url(img/mv.png);
  background-size: cover;
  height: 650px;
  background-position: center;
  width: auto;
  padding-top: 200px;
}

.main-title {
  font-size: 64px;
  text-align: center;
  color: #fafafa;
  margin-bottom: 10px;
}

.main-body {
  font-size: 20px;
  text-align: center;
  color: #fafafa;
}

#portfolio {
  background-color: #eceff1;
  padding: 90px 0;
}

.p-body {
  width: 920px;
  margin: auto;
}

.content-title {
  font-size: 32px;
  color:#000;
  text-align: center;
  margin-bottom: 8px;
}

.title-border {
  height: 3px;
  width: 70px;
  background-color: #ec715f;
  margin: auto;
}

.content-text {
  font-size: 16px;
  text-align: center;
  color: #000;
  margin: 30px 0;
}

.p-contents {
  display: flex;
  flex-wrap: wrap;
}

#p-item {
  height: 250px;
  width: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#p-item:nth-child(3),
#p-item:nth-child(6) {
  margin: 0 0 10px 0;
}

.p-1 {
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}

.p-2 {
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
}

.p-3 {
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
}

.p-4 {
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
}

.p-5 {
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
}

.p-6 {
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
}

#feature {
  width: 980px;
  padding: 90px 0;
  margin:auto;
}

.f-body {
  display: flex;
}

.f-item {
  width: 320px;
  height: auto;
  margin-right: 10px;
  text-align: center;
}

.f-item:nth-child(3) {
  margin: 0;
}

.f-icon {
  font-size: 60px;
}

.f-item-title {
  font-size: 20px;
  color: #000;
  margin: 10px 0;
  font-weight: bold;
}

.f-item-body {
  font-size: 16px;
  text-align: left;
  color: #000;
}

#profile {
  background-color: #eceff1;
}

.prof-content {
  width: 1024px;
  padding: 90px 0;
  margin:auto;
}

.prof {
  display: flex;
}

.prof-body {
  width: 512px;
}

.prof-icon {
  background-image: url(img/my-icon.jpg);
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
}

.prof-title {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: bold;
  color: #000;
}

.prof-title:nth-child(1) {
  margin-top: 0px;
}

.prof-text {
  font-size: 16px;
  color: #000;
}

#contact {
  width: 800px;
  padding: 90px 0;
  margin: auto;
}

.c-body {
  display: flex;
  justify-content: space-around;
}

.c-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.c-text {
  margin-bottom: 20px;
}

.c-text:nth-child(4) {
  margin-bottom: 0;
}

.c-icon {
  font-size: 50px;
  margin-right: 20px;
}

.c-icon:nth-child(3) {
  margin-right: 0;
}

footer {
  width: auto;
  height: 60px;
  background-color: #ec715f;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 16px;
  color: #fafafa;
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 767px) {
  nav {
    height:50px;
  }

  .nav-items {
    height: 50px;
    width: 90%;
  }

  .nav-logo {
    height: 50px;
  }

  .nav-item {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    align-items: center;
  }

  .menu-btn {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    z-index: 90;
  }

  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #fafafa;
    position: absolute;
  }

  .menu-btn span:before {
    bottom: 8px;
  }

  .menu-btn span:after {
    top: 8px;
  }

  #main {
    background-image: url(img/code.png);
    background-size: cover;
    height: 650px;
    background-position: center;
    padding-top: 200px;
  }

  .main-content {
    width: 90%;
    margin: auto;
  }

  .main-title {
    font-size: 40px;
    color: #fafafa;
    margin-bottom: 10px;
  }

  .main-body {
    font-size: 18px;
    color: #fafafa;
  }

  .p-body {
    width: 90%;
  }

  .p-contents {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  #p-item {
    margin: 0 0 10px 0;
  }

  #p-item:nth-child(6) {
    margin: 0;
  }

  .p-1,
  .p-3,
  .p-5 {
    display: none;
  }

  #feature {
    width: 90%;
    margin: 0 auto 0 auto;
  }

  .f-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .f-item {
    margin: 0 0 10px 0;
  }
  .f-item:nth-child(3) {
    margin: 0;
  }

  .prof-content {
    width: 90%;
  }

  .prof {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .prof-body {
    width: 90%;
  }

  .prof-title {
    margin: 20px 0 5px 0;
    text-align: center;
  }
  .prof-title:nth-child(1) {
    margin-top: 20px;
  }

  .prof-text {
    text-align: center;
  }
  
  #contact {
    width: 90%;
  }

  .c-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .c-title {
    text-align: center;
  }

  .c-text:nth-child(4) {
    margin-bottom: 20px;
  }

  .c-icon {
    margin-right: 8px;
  }

} 