* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #ec715f;
  height: 70px;
  width: auto;
}

.nav-items {
  width: 1024px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
}

.nav-items > :first-child {
  margin-right: auto;
}

.nav-logo {
  height: 70px;
}

.nav-item {
  margin-left: 30px;
  margin-right: 30px;
  line-height: 70px;
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
  text-align: right;
}

#main {
  background-image: url(img/mv.png);
  background-size: cover;
  height: 650px;
  background-position: center;
  width: auto;
  padding-top: 200px;
}

.main-title {
  font-size: 64px;
  text-align: center;
  color: #fafafa;
  margin-bottom: 10px;
}

.main-body {
  font-size: 20px;
  text-align: center;
  color: #fafafa;
}

#portfolio {
  background-color: #eceff1;
  padding: 90px;
}

.p-body {
  width: 920px;
  margin: auto;
}

.content-title {
  font-size: 32px;
  color:#000;
  text-align: center;
  margin-bottom: 8px;
}

.title-border {
  height: 3px;
  width: 70px;
  background-color: #ec715f;
  margin: auto;
}

.content-text {
  font-size: 16px;
  text-align: center;
  color: #000;
  margin: 30px;
}

.p-contents {
  display: flex;
  flex-wrap: wrap;
}

#p-item {
  height: 250px;
  width: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#p-item:nth-child(3),
#p-item:nth-child(6) {
  margin: 0 0 10px 0;
}

#p-item:nth-child(4),
#p-item:nth-child(5) {
  margin: 0 10px 10px 0;
}

.p-1 {
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}

.p-2 {
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
}

.p-3 {
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
}

.p-4 {
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
}

.p-5 {
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
}

.p-6 {
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
}

#feature {
  width: 980px;
  padding: 90px 0;
  margin:
  auto;
}

.f-title {
  font-size: 32px;
  color: #000;
}

.f-body {
  display: flex;
}

.f-item {
  width: 320px;
  height: auto;
  margin-right: 10px;
  text-align: center;
}

.f-item:nth-child(3) {
  margin: 0;
}

.f-icon {
  font-size: 60px;
}

.f-item-title {
  font-size: 20px;
  color: #000;
  margin: 10px 0;
  font-weight: bold;
}

.f-item-body {
  font-size: 16px;
  text-align: left;
  color: #000;
}